<h1>About</h1>
<p>
	<%= link_to "Footprint", "http://footprint.is" %> is a super easy 
	to use web application that helps you setup recurring billing 
	for your customers, manage memberships and maximum retention.
</p>

