$btnPrimaryBackground: red;
$navbarBackgroundHighlight: white;
$navbarBackground:  white;

@import 'bootstrap';

@import 'bootstrap-responsive';


.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

body {
	padding-top: 40px;
}

.footer {
	margin-top: 40px;
	color: $grayLight;
	a {
		color: gray;
	}
}

/* required for JQuery Masonry */
.box {
	margin: 5px;
	padding: 5px;	
	font-size: 12px;
	line-height: 1.4 em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.box .description {
	margin: 10px 0 5px;
}